# -------------------------------------
# CORE SERVER & FRONTEND
# -------------------------------------
fastapi
uvicorn
streamlit
plotly

# -------------------------------------
# DATABASE
# -------------------------------------
sqlalchemy
pydantic
python-multipart

# -------------------------------------
# MACHINE LEARNING
# -------------------------------------
numpy
pandas
scikit-learn==1.6.1
joblib

# -------------------------------------
# EMBEDDINGS (SBERT MiniLM local)
# -------------------------------------
transformers==4.30.2
huggingface_hub>=0.16.0
tokenizers<0.14
torch==2.2.0+cpu --index-url https://download.pytorch.org/whl/cpu

# -------------------------------------
# OCR (EasyOCR)
# -------------------------------------
easyocr
Pillow

# -------------------------------------
# UTILITIES
# -------------------------------------
requests
python-dotenv
